In [1]:
import numpy as np
import pandas as pd

In [4]:
csv_data_path = 'https://raw.githubusercontent.com/turingplanet/pandas-intro/main/public-datasets/small_survey_results.csv'
survey_df = pd.read_csv(csv_data_path) 
survey_df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,20900,I am a developer by profession,Yes,NaN,10,Monthly,8000.0,53040.0,Bulgaria,Bulgarian lev,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,23,15
1,28235,I am a developer by profession,No,45.0,10,Monthly,670000.0,867480.0,Norway,Norwegian krone,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,37.0,35,22
2,26082,I am a developer by profession,Yes,23.0,14,Yearly,65000.0,65000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js,ASP.NET Core;jQuery;Laravel;React.js;Vue.js,A lot less welcome now than last year,45.0,9,5
3,19890,I am a developer by profession,Yes,61.0,21,NaN,NaN,NaN,Canada,Canadian dollar,...,Easy,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,NaN,Somewhat less welcome now than last year,40.0,39,29
4,16393,I am a developer by profession,Yes,25.0,15,Weekly,NaN,NaN,Uruguay,Uruguayan peso,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,Flask,Just as welcome now as I felt last year,40.0,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,51360,I am a developer by profession,Yes,26.0,13,Monthly,16000.0,12312.0,Egypt,Egyptian pound,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Express;React.js,Angular;Angular.js;React.js,Just as welcome now as I felt last year,40.0,10,3
996,16771,I am a developer by profession,Yes,NaN,11,NaN,NaN,NaN,United States,United States dollar,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",Angular;Express;Spring,Angular;Express;Spring,Just as welcome now as I felt last year,50.0,41,24
997,38831,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Netherlands,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,7093,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Indonesia,Indonesian rupiah,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,51843,I am a developer by profession,Yes,29.0,20,Monthly,90000.0,10680.0,Kenya,Kenyan shilling,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;Angular.js;jQuery;Laravel,Angular;Angular.js;jQuery;Laravel,Just as welcome now as I felt last year,8.0,8,5

In [6]:
survey_df['ConvertedComp'].count()  #not null

517

In [7]:
survey_df['ConvertedComp'].median()

48000.0

In [8]:
survey_df.median()

Respondent       32890.0
Age                 29.0
CompTotal        56000.0
ConvertedComp    48000.0
WorkWeekHrs         40.0
dtype: float64

In [9]:
survey_df.describe()

        Respondent         Age     CompTotal   ConvertedComp  WorkWeekHrs
count   1000.00000  697.000000  5.170000e+02      517.000000   628.000000
mean   33125.63900   30.810617  3.567064e+06    85067.394584    40.547771
std    18973.33677    9.145613  5.058570e+07   142891.442494    13.103536
min       59.00000   13.000000  1.000000e+00        0.000000     3.000000
25%    16665.25000   24.000000  1.500000e+04    19800.000000    40.000000
50%    32890.00000   29.000000  5.600000e+04    48000.000000    40.000000
75%    50005.25000   36.000000  1.200000e+05    88068.000000    44.000000
max    65633.00000   67.000000  1.120000e+09  1000000.000000   160.000000

In [12]:
survey_df['OpSys'].value_counts(normalize=True)

Windows        0.481829
Linux-based    0.282532
MacOS          0.233294
BSD            0.002345
Name: OpSys, dtype: float64

In [13]:
survey_df['Country'].value_counts()

United States     182
India             141
Germany            55
United Kingdom     52
Brazil             36
                 ...
Uzbekistan          1
Jordan              1
Somalia             1
Armenia             1
Uruguay             1
Name: Country, Length: 96, dtype: int64

In [20]:
country_groups = survey_df.groupby(['Country'])

In [21]:
country_groups.get_group('United States')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
2,26082,I am a developer by profession,Yes,23.0,14,Yearly,65000.0,65000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;React.js,ASP.NET Core;jQuery;Laravel;React.js;Vue.js,A lot less welcome now than last year,45.0,9,5
9,15003,I am a developer by profession,Yes,29.0,12,Yearly,115000.0,115000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Gatsby;React.js;Vue.js,Angular;Angular.js;Express;Gatsby;React.js,Just as welcome now as I felt last year,40.0,13,10
13,33014,I am a developer by profession,Yes,34.0,15,Yearly,81200.0,81200.0,United States,United States dollar,...,Easy,Appropriate in length,No,Mathematics or statistics,NaN,NaN,A lot more welcome now than last year,40.0,6,4
14,60030,I am a developer by profession,Yes,30.0,18,Yearly,90415.0,90415.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;Flask;React.js,Just as welcome now as I felt last year,40.0,11,8
21,3363,I am a developer by profession,No,40.0,30,Yearly,76000.0,76000.0,United States,United States dollar,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;jQuery,ASP.NET;jQuery,A lot less welcome now than last year,40.0,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,60882,I am a developer by profession,No,44.0,10,NaN,NaN,NaN,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular,Angular;Angular.js,Just as welcome now as I felt last year,40.0,34,22
974,16427,I am a developer by profession,Yes,31.0,10,Yearly,220000.0,220000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",ASP.NET Core;jQuery,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,21,11
976,43500,I am a developer by profession,Yes,28.0,15,NaN,NaN,NaN,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,6
993,4528,I am a student who is learning to code,Yes,34.0,10,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask;React.js,Django;Flask;React.js,Just as welcome now as I felt last year,NaN,24,NaN
996,16771,I am a developer by profession,Yes,NaN,11,NaN,NaN,NaN,United States,United States dollar,...,NaN,NaN,NaN,"Another engineering discipline (such as civil,...",Angular;Express;Spring,Angular;Express;Spring,Just as welcome now as I felt last year,50.0,41,24

In [22]:
country_filter = (survey_df['Country'] == 'China')
survey_df[country_filter]['OpSys'].value_counts()

Windows        3
Linux-based    2
MacOS          1
Name: OpSys, dtype: int64

In [25]:
survey_df.groupby(['Country'])['OpSys'].value_counts()

Country                               OpSys
Albania                               Windows        2
Algeria                               Linux-based    1
                                      Windows        1
Argentina                             Linux-based    2
                                      MacOS          1
                                                    ..
Uzbekistan                            Windows        1
Venezuela, Bolivarian Republic of...  Linux-based    1
Viet Nam                              Linux-based    1
                                      Windows        1
Zambia                                Linux-based    1
Name: OpSys, Length: 179, dtype: int64

In [26]:
country_groups['OpSys'].value_counts().loc['China']

OpSys
Windows        3
Linux-based    2
MacOS          1
Name: OpSys, dtype: int64

In [27]:
country_groups['ConvertedComp'].median()

Country
Albania                                 18546.0
Algeria                                     NaN
Angola                                      NaN
Argentina                               11676.0
Armenia                                 66000.0
                                         ...
Uruguay                                     NaN
Uzbekistan                                  NaN
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                 9600.0
Zambia                                      NaN
Name: ConvertedComp, Length: 96, dtype: float64

In [28]:
country_groups['ConvertedComp'].median().loc['Germany']

61105.0

In [29]:
country_groups['ConvertedComp'].agg(['median','mean'])

                                       median     mean
Country
Albania                               18546.0  18546.0
Algeria                                   NaN      NaN
Angola                                    NaN      NaN
Argentina                             11676.0  19072.8
Armenia                               66000.0  66000.0
...                                       ...      ...
Uruguay                                   NaN      NaN
Uzbekistan                                NaN      NaN
Venezuela, Bolivarian Republic of...  12000.0  12000.0
Viet Nam                               9600.0   9600.0
Zambia                                    NaN      NaN

[96 rows x 2 columns]